# .gitignore



# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
 
# Builds
*.apk
*.unitypackage
*.app
*.exe

# assets of the udemy course
Assets/Materials/Shaders/Galaxy.shader
Assets/Sprites
Assets/Audio

Assets/Audio.meta
Assets/Sprites.meta
Assets/Materials/Shaders.meta
Assets/Materials/Shaders/Galaxy.shader.meta
